*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  background: #e9e9e9;
  font-family: 'Roboto Regular', sans-serif;
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  padding: 20px 20px;
  max-width: 80vw;
  width: 100%;
}
